.widget_search {
  
  margin-top: 0;
  margin-bottom: 2em;
  
}

#marketing-form {
  
  margin-top: 14em;
  
  @media screen and (max-width: 788px) {
    
    margin-top: 0;
    
  }
  
}

#search-marketing-form {
  
  margin-top: 9em;
  
  @media screen and (max-width: 788px) {
    
    margin-top: 0;
    
  }
  
}